.contentDatePicker{margin: auto;
    max-width: 400px;
}
.date,.table-condensed,.datepicker{text-align: center;width: 100%}
.table-condensed>thead>tr>th {text-align: center;}
.datepicker table tr td.today{    background-image: url(../img/filled-circle.png);
    background-repeat: no-repeat!important;
    background-color: #fff;
    background-size: contain;
    background-position: center;
    color: #fff;}
.red{background: #f5f5f5;
    border-bottom: 4px solid #fff;padding: 40px 0;}
.red img{max-width: 110px;}
.red a{color:#000!important;text-decoration: none}
.full{width: 100%;height: 100%;}
.contentHorarios{background-color: #000}
.bB4px{border-bottom: 4px solid}
.marca{background-size: cover;background-position: center;position: relative;overflow: hidden}
.marca div{position: absolute;width: 100%;height: 100%;left: 0;
    background: rgba(5, 64, 115, 0.34901960784313724);}
.VerticalMiddle{    display: table-cell;
    vertical-align: middle;}
.disTable{display: table}
.cAmarillo{color:#fcd500}
.cRojo{color: #900000}
.cBlanco{color:#fff}
.contentHorarios h1{font-size: 70px}
.contentHorarios h2{font-size: 25px;margin-bottom: 0}
.contentHorarios h3{font-size: 20px;margin-top:0 }
.contentHorarios .contentButton{    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;padding-bottom: 20px}
.horariosContent{margin-top: 40px;}
.horariosContent .ng-scope{padding: 20px 0}
.hora{margin-right: 10px;float: left;font-size: 17px;}
.contentHorarios button{background-color: #3d9dff;color: #fff;border:0;padding:10px;width: 90%;margin: auto;-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;text-transform: uppercase}
.myContainer{    max-width: 280px;
    margin: auto;}
.p0{padding: 0}
.persona,.persona .col-xs-9 {position: relative}
.persona h5{    margin-top: 25px;
    font-size: 18px;}
.persona .col-xs-8 div{
    width: 90%;
    height:2px;
    background-color: #f8f8f8;
    position: absolute;bottom:0;
    left:15px;
}
.persona .col-xs-8{    height: 80px;}
.personas h2{    margin-top: 40px;margin-bottom: 40px;font-size: 20px}
.descripcionPop{position:fixed;height: 100%;width:100%;z-index: 1;background-color: #fff}
.TumbPersona{background-color: #f5f5f5;position: relative;   padding: 15px 15px 25px;}
.personas .descripcion p{
    text-align: justify;
    max-width: 80%;
    margin: 10px auto 0;
}
.personas .descripcion{overflow-y: scroll;max-height: 69%;padding-bottom: 20px;padding: 0px 25px 20px;margin-top: 10px;font-size: 12px}
.TumbPersona label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    position: absolute;
    right: 7%;
    bottom: 11%;
    font-size: 17px;
    color: #fff;
}
.aL-100{
    left:-100%;
    transition: all 0.2s;
}
.al-0{
    left:0;
    transition: all 0.2s;
}
.closePop{position: absolute;right: 0;top: 0;    position: absolute;
    right: 18px;
    top: 18px;}
.gridItem{width:33%;padding:5px}
.border{-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;}
.photo{    background-image: url(https://sephora-zironet.c9users.io/wp-content/uploads/2018/08/AlexCruz.jpg);
    height: 60px;
    width: 60px;
    background-size: cover;    margin: auto;}
.popUPGaleria{z-index: 1000;position: fixed;background: rgba(0,0,0,0.7);width: 100%;height: 100%;top: 0;text-align: center;}
.popUPGaleria .disTable{width:100%;height: 100%;}
.popUPGaleria img{margin:auto;max-width:80%} 
.upper{text-transform: uppercase}
.evento{    font-size: 20px;
    line-height: 1;}
.beauty span{color: #e01f12;font-family:'Conv_SephoraSansBETA-Bold';text-transform: uppercase;}
.beauty .container{margin-bottom: 40px}
.nivel{    background: #000;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 0 5px 6%;}
.beauty .row{margin-bottom: 20px}
.beauty .col-xs-9 div:nth-child(1){font-size: 12px;
    margin-top: 10px;}
.nivel div:last-child{text-align: center;
    /* padding-right: 20%; */
    float: right;
    width: 42px;}
.nivel div:first-child{
        text-align: right;
    padding-right: 4px;
}
.load{position: absolute!important;height: 100%;width: 100%;top: 0;left:0;}
.beauty .col-xs-9 div:nth-child(2){color: #e01f12;}
.beauty{    overflow: hidden;
    padding: 20px 0;
    border-top: 30px solid #000;
    border-bottom: 30px solid #000;
    margin-top: 30px;
    margin-bottom: 30px;}
.fSL{font-family: 'Conv_SephoraSansBETA-Light';}
.fSB{font-family: 'Conv_SephoraSansBETA-Bold';}
.fSM{font-family: 'Conv_SephoraSansBETA-Medium'}
.fQSB{font-family: 'Conv_Quicksand-Bold';}
@font-face {
	font-family: 'Conv_SephoraSansBETA-Light';
	src: url('../fonts/SephoraSansBETA-Light.eot');
	src: local('☺'), url('../fonts/SephoraSansBETA-Light.woff') format('woff'), url('../fonts/SephoraSansBETA-Light.ttf') format('truetype'), url('../fonts/SephoraSansBETA-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Generated by FG **/
@font-face {
	font-family: 'Conv_SephoraSansBETA-Bold';
	src: url('../fonts/SephoraSansBETA-Bold.eot');
	src: local('☺'), url('../fonts/SephoraSansBETA-Bold.woff') format('woff'), url('../fonts/SephoraSansBETA-Bold.ttf') format('truetype'), url('../fonts/SephoraSansBETA-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Generated by FG **/
@font-face {
	font-family: 'Conv_SephoraSansBETA-Medium';
	src: url('../fonts/SephoraSansBETA-Medium.eot');
	src: local('☺'), url('../fonts/SephoraSansBETA-Medium.woff') format('woff'), url('../fonts/SephoraSansBETA-Medium.ttf') format('truetype'), url('../fonts/SephoraSansBETA-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Generated by FG **/
@font-face {
	font-family: 'Conv_Quicksand-Bold';
	src: url('../fonts/Quicksand-Bold.eot');
	src: local('☺'), url('../fonts/Quicksand-Bold.woff') format('woff'), url('../fonts/Quicksand-Bold.ttf') format('truetype'), url('../fonts/Quicksand-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





    
