<div class="beauty" block-ui="myBlockUI" style="height:{{height}}px">
    <div class="container fSM">
        Recibe servicio <span>gratis</span> y, recibe los sellos gratis para llevarte una muestra de lujo.<br> En la compra de tus productos favoritos llevate <span>Regalos exclusivos</span>.
    </div>
    
    <div class="col-xs-12 fSM" ng-repeat="item in lista track by $index">
        <div class="row">
            <div class="col-xs-3 nivel fSL">
                <div>Nivel</div>
                <div><span>{{item.nivel}}</span></div>
            </div>
            <div class="col-xs-9"><div>{{item.sello}}</div><div>{{item.descripcion}}</div></div>
        </div>
    </div>
</div>