<div class="load" block-ui="myBlockUI" >
    
</div>
<div class="myContainer" >
    <div class="calender"></div>
    <div class="horariosContent">
        <div  ng-repeat="horario in horarios">
            <div class="hora fSM">{{horario.hora}}</div><div class="evento fSL">{{horario.evento}}</div>
        </div>
    </div>
</div>
 <style type="text/css">
        html {
            font: 500 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        ul,
        ol,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #demo {
            width: 400px;
            margin: 30px auto;
        }

        p {
            margin: 0;
        }

        input {
            margin: 10px 0;
            height: 28px;
            width: 200px;
            padding: 0 6px;
            border: 1px solid #ccc;
            outline: none;
        }

    </style>
    
</div>
