<div class="contentGaleria" block-ui="myBlockUI" style="height:{{height}}px" >
    <div class="grid" >
        <div class="gridItem pull-left"  ng-repeat="imagen in imagenes track by $index">
            <img src="{{imagen.imagen}}" class="img-responsive border" ng-init="isLast($index)" ng-click="openPopUp(imagen.imagen)">
        </div>
        <div ng-init="initView()"></div>
    </div>
    <div class="popUPGaleria {{(openPop)?'al-0':'aL-100'}}">
        <div class="disTable">
            <img src="img/cross (1).png" alt="" class="closePop" ng-click="closePopUp()">
            <div class="VerticalMiddle">
                <img  src="{{imgPopUp}}"></img>
            </div>
        </div>
    </div>
</div>