<div class="full contentHorarios disTable" style="height:{{height}}px" block-ui="myBlockUI">
    <div class="VerticalMiddle text-center">
        <h1 class="cAmarillo fSB"><b>{{hora}}</b></h1>
        <h2 class="cRojo fSL">{{proxima}}</h2>
        <h3 class="cBlanco fSL">{{titulo}}</h3>
        
    </div>
    <div class="contentButton">
        <button class="fSL">Streaming</button>
    </div>
</div>