<div class="contentMarcas" style="height:{{height2}}px"  block-ui="myBlockUI">
    <div class="col-xs-12 marca bB4px   text-center cRojo" ng-repeat="item in marcas" style="background-image:url({{item.imagen}});height:{{height}}px">
        <div class="disTable">
             <h4 class="VerticalMiddle cBlanco fSB upper">{{item.nombre}}</h4>
        </div>
       
    </div>
</div>