<div class="personas" block-ui="myBlockUI" style="height:{{height}}px">
    <div class="col-xs-12 text-center fSM">
        <h2>MAKE UP ARTISTS</h2>
    </div>
    <div class="contentList col-xs-12 persona" >
        <div class="col-xs-12" ng-repeat="persona in personas track by $index" ng-click="opePop($index)">
            <div class="col-xs-4">
                <div class="photo border" style="background-image:url({{persona.imagen}})"></div>
            </div>
            <div class="col-xs-8">
                <h5 class="fQSB">{{persona.nombre}}</h5>
                <div></div>
            </div>
        </div>
    </div>
    <div class="descripcionPop {{(openPop)?'al-0':'aL-100'}}">
        <div class="TumbPersona">
            <img class="img-responsive border" src="{{item.imagen}}" alt="">
            <label class="fSB" >{{item.nombre}}</label>
            <img src="img/cross (1).png" alt="" class="closePop" ng-click="closePopUp()">
        </div>
        <div class="descripcion fSL">
            {{item.descripcion}}
        </div>
    </div>
</div>