<div ng-repeat="red in redes" class="col-xs-12 text-center red" block-ui="myBlockUI">
    <a href="{{red.link}}">
        <img src="{{red.imagen}}" alt="">
        <br>
        <label class="fSL">{{red.texto}}</label>
    </a>
</div>